.post
  %div
    .title
      %div
        = link_to post.title, post
    .tags
      %div
        - post.tags.map do |tag|
          = "<a class=\"tag\" href=\"/posts/tag/#{tag}\"><span>#{tag}</span></a>"
    .body
      = @preview ? post.preview : post.body
    - if current_user_is_an_admin?
      %span.controls
        = link_to 'Edit', edit_post_path(post), :class => 'edit'
        = link_to 'Back', posts_path, :class => 'back'
