<%= javascript_include_tag 'fckeditor/fckeditor' %>
<% form_for(post) do |f| %>
  <%= f.error_messages %>
  <div class="post">
    <div id="title" class="title">
      <span class="ruby keyword">def</span>
      <span class="ruby entity"><%= f.text_field :title %></span>
      <span class="ruby inherited">&lt; <%= link_to 'Post', posts_path %></span>
    </div>
    <div id="body" class="body indent">
      <%= f.text_area :body %>
      <script type="text/javascript" charset="utf-8">
        Event.observe(window,'load',function(event){
          var e = window.postBodyEditor = new FCKeditor('post_body');
          e.BasePath = "/javascripts/fckeditor/";
          e.Height = 600;
          e.Config["CustomConfigurationsPath"] = "/javascripts/fckeditor/configs/post_edit.js"+'?'+( new Date() * 1 ); //TODO remove me!
          e.ReplaceTextarea();
        });
      </script>
    </div>
    <div>
      <span class="ruby keyword">
        end
        <span class="controls">
          <%= submit_tag 'Save' %>
        </span>
      </span>
    </div>
  </div>
<% end %>