<% head do %>
	<%= javascript_include_tag 'fckeditor/fckeditor' %>
<% end %>

<% title "Editing '#{@post.title}'" %>


<% form_for(@post) do |f| %>
  <%= f.error_messages %>
  <div class="post">
    <div id="title" class="title">
      <span class="ruby-keyword">def</span>
      <span class="ruby-entity">
        <%= f.text_field :title %>
        <script type="text/javascript" charset="utf-8">
          Event.observe(window,'load',function(event){
            var e = window.postBodyEditor = new FCKeditor('post_body');
            e.BasePath = "/javascripts/fckeditor/";
            e.Height = 600;
            e.Config["CustomConfigurationsPath"] = "/javascripts/fckeditor/configs/post_edit.js"+'?'+( new Date() * 1 ); //TODO remove me!
            e.ReplaceTextarea();
          });
        </script>
      </span>
      <span class="ruby-inherited">&lt; Post</span>
    </div>
    <div id="body" class="body indent"><%= f.text_area :body %></div>
    <div>
      <span class="ruby-keyword">end
        <span class="controls">
          <%= link_to 'Show', @post %>
          <%= link_to 'Back', posts_path %>
        </span>
      </span>
    </div>
  </div>
<% end %>
