#fixed-background
  .column.background
    = render :partial => 'layouts/nav'

#page.column
  #controls
    - if logged_in?
      = "Hey #{current_user.name}!"
      = link_to 'logout', logout_path
    - else
      = link_to 'login', login_path
      = link_to 'signup', signup_path

  #content
    %div
      = flash_messages
      %h1.title
        %span
          = link_to 'Jared Grippe', root_path
      = yield